<h2>Add Restaurant</h2>

<form action="/restaurants" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name"><br>

    <label>Image:</label><br>
    <input type="url" name="image"><br><br>

    <input type="submit" value="Submit">
</form>